<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>lftp</string>
	<key>ordering</key>
	<array>
		<string>62659EB6-CA9A-4315-92BF-6DEAD6161E86</string>
		<string>902F6C73-5F3D-4FC6-90A3-D9BC9077D1C6</string>
		<string>91AA5078-41F3-4FEB-932B-3A41652A920F</string>
		<string>7E11CEBC-BDAA-45B5-BFED-75AA0CA5F426</string>
		<string>7223206E-6273-4703-90CD-A2035B56C8A2</string>
	</array>
	<key>uuid</key>
	<string>5F6DDAD0-1F4B-4CE7-9C24-CBAC1F1FAF4D</string>
</dict>
</plist>
